.quoteBox{
    min-width: 500px;
    width: 50vw;
    max-width: 700px;
    border-radius: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    height: calc(100% - 120px);
    width: 80%;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote h1{
    padding-top: 35px;
    font-size: 28px;
    text-align: center;
    margin: 0;
    transition: all 1s ease-in-out;
}

.quote h2{
    text-align: end;
    font-size: 32px;
    width: 100%;
    margin: 15px 0 0 0;
    color: darkgray;
}

.buttonBox{
    border-radius: 0 0 30px 30px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button{
    height: 50px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 3px solid darkgray;
    border-radius: 10px;
    color: darkgray;
    font-size: larger;
    font-weight: 700;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    transition: all 1s ease-in-out;
    background-color: white;
}

.button:hover{
    cursor: pointer;
}

.logo{
    font-size: larger;
}